@font-face { font-family: Vina; src: url('ONEDAY.ttf'); } 
html{
    color-scheme: dark;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#enter {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);  
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    transition: .3s ease-in;
    font-size: 24px;
}

.landing {
    text-align: center;
}

    .landing-logo {
        width: 20em;
    }

    .landing a {
        color: #fff;
        text-decoration: none;
        transition: ease-in-out .1s;
    }

    .landing a:hover {
        color: #b69cff;
        text-decoration: none;
    }

    .landing .archive {
        font-weight: bold;
        font-size: 2em;
    }


/* Media query 
@media (max-width: 1000px) {

    #enter {
        display: none;
    }

    .body {
        width: 100%;
    }

    .landing {
        width: 100%;
    }

    pre {
        font-size: 9px;
    }

}*/
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-size: cover;
    background-position: center center;
    display: flex;
    color: #fff;
    background-color: #1F2128;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.customglow-username {
    font-size: 45px;
    padding-bottom: 8px;
    color: #ffffff;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    filter: drop-shadow(0 0 0.2rem #ffffff);
}


.username-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes glow {
    0% {
        box-shadow: 0 0 5px #ffffff;
    }
    50% {
        box-shadow: 0 0 20px #ffffff;
    }
    100% {
        box-shadow: 0 0 5px #ffffff;
    }
}

.avatar_effect {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0 auto;
    animation: glow 2s infinite;
    margin-bottom: 10px;
}


.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 10px;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}


.rainbow-username {
  font-size: 45px;
  font-weight: bold;
  color: #ff0000;
  animation: animate 20s linear infinite;
  text-shadow: 0 0 3px #ff0000, 0 0 3px #ff0000, 0 0 3px #ff0000, 0 0 3px #ff0000;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}


  /* border */
  .border {
    align-items: center;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding: 15px;
      width: 500px;
      height: 453;
      border-radius: 57.5px;
      backdrop-filter: blur(52px);
      background-color: #00000040!important;
      border-color: #ffffff0d;
      border-width: 1.5px;
  }
      
  @media (max-width : 480px) {
      .border {
          left: 50%;
          padding: 0px, 0px;
          width: 80%;
          max-width: 100%;
          border-radius: 21px;
      }
  }
  
.role-icon-wrapper {
    padding: 7px 10px 7px;
    border-radius: 50px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    display: inline-flex;
    place-items: center;
    margin: 2px auto 20px;
    background-color: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.icon:active {
  transform: scale(1.2);
  cursor: pointer;
}

.icon {
  transition: all 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.pixelated {
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    background: transparent url(images/EyzV6w4.png) repeat 0 0;
}



  /* icons */
  social-icons {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  
  .icon {
     margin: 3px;
     width: 35px;
     height: 35px;
  }
  
  .icon-link {
      margin: 10px;
      text-decoration: none;
      text-align: center;
  }
  
  .icon-link:not(:nth-child(-n+8)) {
      display: none;
  }
  
  /* social media */
  
  .social-media {
      text-align: center;
      position: relative;
  }
  
  .description {
    font-size: 17px;
    margin: 0;
    color: #fff;
  }
  
  .username {
      color: #777777;
      font-size: 30px;
      font-weight: bold;
      text-shadow: 0 0 10px rgba(150, 47, 191, 0.7), 0 0 20px rgba(255, 0, 80, 0.7), 0 0 30px rgba(0, 242, 234, 0.7);
      animation: username 13s infinite;
  }
  
  .normal-username {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

  

.role-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;
}

.role-icon img {
    width: 31px;
    height: 31px;
}
.role-icon i{
    padding: 0rem 0.2rem 0rem;
}

  .glowblue-username {
    font-size: 45px;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    text-shadow: 0 0 10px #0000ff, 0 0 20px #0000ff, 0 0 30px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff, 0 0 60px #0000ff, 0 0 70px #0000ff, 0 0 80px #0000ff;
}





@keyframes popin {
    0% { transform: scale(0.5) translateX(-50%); }
    100% { transform: scale(1) translateX(-50%); }
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f0f0f0;
    font-weight: 580!important;
    user-select: none;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    display: block;
    z-index: 1;
    transform: scale(0) translateX(-50%);
    left: 50%;
    bottom: 110%;
    letter-spacing: .01cm!important;
    font-size: 14.3px;
    transition: transform 0.1s ease-out;
}

.socials{
    display: inline-block;
    font-family: 'Courier New', Courier, monospace !important;
}
.role-icon:hover .tooltip,
.role-icon:focus-within .tooltip {
    animation: popin 0.1s ease-out forwards;
}
.socials:active{
    transform:scale(1.2)
}
.socials:hover{
    transform: scale(1.2);
}
.socials{
    transition: all 0.2s ease-in-out;
}
  
  /* glow animation */
  
  @keyframes username {
      0% {
          text-shadow: 0px 0px 9px #5539cc;
          opacity: 1;
      }
      14% {
          text-shadow: 0px 0px 9px #5539cc;
          opacity: 0.50;
      }
      20% {
          text-shadow: 0px 0px 5px #feda75,
          0px 0px 5px #fa7e1e,
          0px 0px 5px #d62976,
          0px 0px 5px #962fbf,
          0px 0px 5px #4f5bd5;
          opacity: 1;
      }
      30% {
          text-shadow: 0px 0px 5px #229ED9;
          opacity: 0.25;
      }
      40% {
          text-shadow: 0px 0px 10px #A00003;
          opacity: 1;
      }
      50% {
          text-shadow: 0px 0px 10px #FFFC00;
          opacity: 0.25;
      }
      60% {
          text-shadow: 0px 0px 5px #0079C1;
          opacity: 1;
      }
      70% {
          text-shadow: 0px 0px 5px gray;
          opacity: 0.25;
      }
      80% {
          text-shadow: 0px 0px 5px blue;
          opacity: 1;
      }
      90% {
          text-shadow: 0px 0px 5px #E60023;
          opacity: 0.25;
      }
  }
  

.videobg {
    width: 100%;
    height: 100%;
    z-index: -3;
    position: absolute
}

#vidx {
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1
}

@keyframes fadeinout{
    0%{
        background-position:-500%
    }
    100%{
        background-position:500%
    }
}
.fadeinoutname{
    margin-right: 10px;
    position:relative;
    overflow:hidden;
    background: linear-gradient(90deg,#000,#ffffff,#ffffff,#000);
    background-repeat:no-repeat;
    background-size:80%;
    animation:fadeinout 2s linear infinite;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent
}



    </style>

<style>
.status {
    color: #f23f43;
    position: absolute;
    font-size: 19.5px;
    bottom: 3.5px;
    left: 55.5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none
}

.statuscontainer_dnd {
    color: #f23f43;
    position: absolute;
    font-size: 19.5px;
    bottom: 3.5px;
    left: 55.5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none
}

.statuscontainer_idle {
    color: #eff23f;
    position: absolute;
    font-size: 19.5px;
    bottom: 3.5px;
    left: 55.5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none
}

.statuscontainer_online {
    color: #08d334;
    position: absolute;
    font-size: 19.5px;
    bottom: 3.5px;
    left: 55.5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none
}

.statuscontainer_offline {
    color: #858585;
    position: absolute;
    font-size: 19.5px;
    bottom: 3.5px;
    left: 55.5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none
}

.container, .discordcontainer {
    padding: 10px;
    border-radius: 15px;
    position: relative;
    display: inline-flex;
    place-items: center;
}

.profile-pic, .avatarcontainer {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.info h1, .infocontainer h1 {
    text-align: left;
    padding: 0;
    margin: 0 0 0 11px;
    font-size: 19.7px;
    max-width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 630;
}

.status, .statuscontainer_dnd, .statuscontainer_idle, .statuscontainer_online {
    position: absolute;
    font-size: 19.5px;
    bottom: 3.5px;
    left: 55.5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.status {
    color: #f23f43;
}

.statuscontainer_dnd {
    color: #f23f43;
}

.statuscontainer_idle {
    color: #eff23f;
}

.statuscontainer_online {
    color: #08d334;
}

.infocontainer h3 {
    text-align: left;
    padding: 0;
    font-size: 13.2px;
    font-weight: 520;
    max-width: 270px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 3.5px 6px 0 11px;
}

@media (max-width: 767px) {
    .info h1, .infocontainer h1 {
        max-width: 115px;
    }

    .infocontainer h3 {
        max-width: 115px;
    }
}

@media (min-width: 768px) {
    .info h1, .infocontainer h1 {
        max-width: 170px;
    }

    .infocontainer h3 {
        max-width: 170px;
    }
}

@media (min-width: 992px) {
    .info h1, .infocontainer h1 {
        max-width: 210px;
    }

    .infocontainer h3 {
        max-width: 210px;
    }
}

@media (min-width: 1200px) {
    .info h1, .infocontainer h1 {
        max-width: 240px;
    }

    .infocontainer h3 {
        max-width: 270px;
    }
}

@media (max-width: 359px) {
    .info h1, .infocontainer h1 {
        max-width: 100px;
    }

    .infocontainer h3 {
        max-width: 100px;
    }
}
.visitors{
    font-size: 20px;
    display: flex;
    margin-top: 20px;
}